<section class="invoice-section">

  <div class="container">
    <!-- Main Content -->
    <div class="main-content">
      <header class="row justify-between sticky items-center">
        <div class="invoice-title">
          <h1>Invoices</h1>
          <p>There are {{ filteredInvoices.length }} total invoices</p>
        </div>
        
        <div class="header-actions filter row items-center">
          <select class="filter-title row items-center" (change)="onFilterChange($event)">
            <option value="all">Filter <small>by status</small></option>
            <option value="paid">Paid</option>
            <option value="pending">Pending</option>
            <option value="draft">Draft</option>
          </select>
          
          <button [routerLink]="['/invoices', 'new']" class="new-invoice">
            <div class="btn-image">
            <img  src="../../../assets/icon-plus.svg" alt="">

            </div>
            <span>New <small>Invoice</small></span>


          </button>
        </div>
      </header>
      
      <!-- Invoice List -->
         <div class="invoice-container">

  
  <a class="grid-list" *ngFor="let invoice of filteredInvoices"
        [appHighlightOverdue]="invoice.paymentDue" [routerLink]="['/invoices', invoice.id]">
 
        <p>{{ invoice.id }}</p>
        <p class="createdAt">{{ invoice.createdAt }}</p>
        <p><span>Due</span>  {{ invoice.paymentDue }}</p>
        <p>{{ invoice.clientName }}</p>
         
       <p [ngClass]="{
  'status-pending': invoice.status === 'pending',
  'status-paid': invoice.status === 'paid',
  'status-draft': invoice.status === 'draft'
}">
  {{ invoice.status }}
</p>

                  <span class="item-price">{{ invoice.items[0].price | currency:'USD':'symbol':'1.2-2' }}</span>

  <a ><span class="arrow">></span></a>
</a>

         </div>
  </div>
</div>

<!-- Modal -->
<app-new-invoice-form
*ngIf="isNewModalOpen"
(close)="closeModal()">
</app-new-invoice-form>

</section>